@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap"); */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Primary */

  --red: hsl(0, 100%, 67%);
  --light-red: hsla(0, 100%, 67%, 0.1);
  --yellow: hsl(39, 100%, 56%);
  --light-yellow: hsla(39, 100%, 56%, 0.1);
  --green: hsl(166, 100%, 37%);
  --light-green: hsla(166, 100%, 37%, 0.1);
  --blue: hsl(234, 85%, 45%);
  --light-blue: hsla(234, 85%, 45%, 0.1);

  /* Gradients */

  /* background */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  /* circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-grey-blue: hsl(224, 30%, 27%);

  /* Breakpoints */

  --breakpoint-xs: 16rem;
  --breakpoint-custom__md: 66.25rem;

  /* Font Family */
  --font-display: "Hanken Grotesk", sans-serif;
}
